/* Global Styles */

@font-face {
    font-family: cathedral;
    src: url("./fonts/Cathedral St.ttf");
}

html, body {
    color: black;
}

aside {
}

article {
}

.header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/header-background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center top;
}


.header .text-vertical-center h1 {
    margin: 0;
    padding: 40px 40px 0 40px;
    font-weight: 100;
    font-family: cathedral;
    font-size: 120px;
    font-size: 10.7vw;
}


.header p {
    text-align: left;
    font-size: 1.6vw;
    padding: 0px 0px 0px 40px;
}

div.section h2 {
    font-size: 56px;
    line-height: 58px;
}

h3 {
    font-size: 70px;
    color: white;
}

.bg-primary {
    color: #fff;
    /* original blue
    background-color: #337ab7; */
    background: url('./img/concrete_wall.png') 0 0 repeat-x;
}


/* callouts */
aside.callout {
    background: url(./img/england.jpeg) no-repeat center center scroll;
}

aside.callout p {
    padding: 0px 40px;
    font-size: 80px;
    line-height: 84px;
    font-weight: bold;
}


/* Criteria */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* map */

#map {
    height: 750px;
}


/* churches */

.church-section {
    background: url('./img/watercolor-paper.jpg') 0 0 repeat;
    background: url('./img/concrete_wall.png') 0 0 repeat;
    text-align: center;
    padding-top: 0px;
}

.church-section article {
    margin: 0 auto;
    background: url('./img/watercolor-paper.jpg') 0 0 repeat;
    background: url('./img/concrete_wall.png') 0 0 repeat;
    text-align: center;
    width: 100%;
    height: 100%;
}

.church-section article header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center top;
}

.church-section article header h2 {
    color: white;
    line-height: 304px;
    font-family: cathedral;
    margin: 0;
    padding: 40px 40px;
    font-size: 180px;
    font-size: 14.7vw;
}

.church-section article.guildford header {
    background-image: url(./img/guildford.jpg);
}

.church-section article.southwark header {
    background-image: url(./img/southwark.jpg);
}

.church-section article.chichester header {
    background-image: url(./img/chichester.jpg);
}

.church-section article.norwich header {
    background-image: url(./img/norwich.jpg);
}

.church-section article.exeter header {
    background-image: url(./img/exeter.jpg);
}

.church-section article.lincoln header {
    background-image: url(./img/lincoln.jpg);
}

.church-section article.rochester header {
    background-image: url(./img/rochester.jpg);
}

.church-section article div.section h2 {
    font-family: cathedral;
}

.church-section article h3 {
    z-index: 10;
    padding: 40px 100px 0 100px;
    margin: 0px;
    color: black;
    text-align: center;
    font-size: 80px;
    line-height: 82px;
    font-family: cathedral;
}



.church-section article p {
    padding: 20px 200px;
    margin: 0;
    color: black;
    font-size: 22px;
    text-align: center;
}

.church-section article ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 20px 200px;
}

.church-section article ul li {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
}

