/* Global Styles */

@font-face {
    font-family: cathedral;
    src: url("./fonts/Cathedral St.ttf");
}

@font-face {
    font-family: written;
    src: url("./fonts/A little sunshine.ttf");
}

html, body {
    color: black;
}

article {
}

p, li, a {
    font-family: written;
    font-weight: 500;
}

aside  {
    min-height: 500px;
    background: url('./img/countryside.jpg') no-repeat top center scroll;
}

.header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./img/header-background-web.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center top;
}


.header .text-vertical-center h1 {
    margin: 0;
    padding: 40px 40px 0 40px;
    font-weight: 100;
    font-family: cathedral;
    font-size: 120px;
    font-size: 10.7vw;
}


.header p {
    text-align: left;
    font-size: 1.7vw;
    padding: 0px 0px 0px 40px;
    margin-top: -20px;
}

p.lead.large {
    font-size: 40px;
    line-height: 44px;
}

p.lead {
    font-size: 28px;
    line-height: 30px;
}

div.section h2 {
    font-size: 56px;
    line-height: 58px;
}

h3 {
    font-size: 70px;
    color: white;
}

.bg-primary {
    color: #fff;
    background: url('./img/concrete_wall.png') 0 0 repeat-x;
}

/* callouts */
aside.callout {
    min-height: 200px;
    height: auto;
    padding-bottom: 40px;
    background: url('./img/concrete_wall.png') 0 0 repeat-x;
}

aside.callout h2 {
    padding: 0;
    margin: 0;
}

aside.callout.fact {
    background: black;
    min-height: 200px;
    height: 200px;
}

aside.callout.scores {
    padding-top: 40px;
    height: 438px;
    min-height: 438px;
    background: white;
}

aside.callout.scores span {
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    width: 300px;
    height: 520px;
    min-height: 520px;
    background: transparent url('./img/rosette.png') 0 0 no-repeat;
    font-size: 110px;
    line-height: 116px;
    font-family: written;
    font-weight: bold;
    color: black;
}

aside.callout.fact p {
    padding: 20px 100px 20px 100px;
    font-size: 80px;
    line-height: 84px;
    font-family: written;
    color: white;
}

/* map */

#map {
    height: 750px;
}


/* churches */

.church-section {
    text-align: center;
    padding-top: 0px;
}

.church-section aside.location {
    margin: 0;
    padding: 0;
    background: black;
    background: url('./img/stained-glass.png') 0 0 repeat-x;
    background: black;
    height: 350px;
    min-height: 350px;
}

.church-section aside.church_name {
    margin: 0;
    padding: 0;
    background: white;
    padding-bottom: 20px;
    background: white;
    min-height: 200px;
}

.church-section aside h2 {
    color: white;
    line-height: 304px;
    font-family: cathedral;
    margin: 0;
    padding: 40px 40px;
    font-size: 180px;
    font-size: 15.7vw;
}

.church-section article {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background: white;
}


.church-section article .strong {
    font-weight: bold;
}

.church-section article header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center top;
}

.church-section article header h2 {
    color: white;
    line-height: 304px;
    font-family: cathedral;
    margin: 0;
    padding: 40px 40px;
    font-size: 180px;
    font-size: 16.7vw;
}

.church-section article.guildford header {
    background-image: url(./img/guildford-web.jpg);
}

.church-section article.southwark header {
    background-image: url(./img/southwark-web.jpg);
}

.church-section article.chichester header {
    background-image: url(./img/chichester-web.jpg);
}

.church-section article.norwich header {
    background-image: url(./img/norwich-web.jpg);
}

.church-section article.exeter header {
    background-image: url(./img/exeter-web.jpg);
}

.church-section article.lincoln header {
    background-image: url(./img/lincoln-web.jpg);
}

.church-section article.rochester header {
    background-image: url(./img/rochester-web.jpg);
}

.church-section article div.section h2 {
    font-family: cathedral;
}

.church-section article h3 {
    z-index: 10;
    padding: 40px 100px 0 100px;
    margin: 0px;
    color: black;
    text-align: center;
    font-size: 120px;
    line-height: 122px;
    font-family: cathedral;
    color: black;
}

.church-section article p {
    padding: 20px 200px;
    margin: 0;
    color: black;
    font-size: 22px;
    text-align: center;
}

.church-section article ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 20px 200px;
}

.church-section article ul li {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
}


aside#league {
    text-align: center;
    padding-bottom: 140px;
}

aside#league h4 {
    margin: 0;
    padding: 40px 0 0 0;
    font-family: cathedral;
    font-size: 100px;
    line-height: 104px;
}

aside#league ul {
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 50px;
    line-height: 56px;
    list-style-type: none;
}


