@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

/* html elements */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

h1 {
  display: block;
  color: #003300;
  font-size: 60px;
  height:40px;
}

h1,h2,h3,h4 {
  vertical-align:middle;
}


p, .line, li {
  font-size: 16px;
  line-height: 20px;
  font-family: monospace;
}


.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}

.published {
  color: #FFF000;
  margin: 5px;
}

/* navbar */
.navbar {
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-nav {
  margin: 1px 1px; 
}  
  
.navbar-header {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  display: block;
  width: 60px;
  height: 45px;
  margin: 5px 3px 0 2px;
  padding: 0;
  background: url('./img/logo-small.png') no-repeat center;
}

.navbar-default .navbar-nav>li>a {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #fff000;
  color: #777;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

header h1 {
  display: block;
  margin: 10px 0 10px 0;
}

header.index h1 {
  background: url('./img/cathedralcafes.png') no-repeat;
}

header.index {
  height: 361px;
  background: url('./img/stpauls-sunbeam.jpg') no-repeat top center;
}

header h3 {
  font-family: monospace;
  background: #ffcc33;
  padding:10px;
  border-radius:3px;
  font-size:34px;
  padding:12px 10px 6px 10px;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

/* lower the logo and H1 */
header .intro {
  padding-top: 20px;
  min-width: 450px;
}

header .intro p.lead {
  margin-top: -15px;
  font-size: 18px;
  line-height: 20px;
}

header .intro p {
  font-size: 18px;
  line-height: 22px;
}

header .container {
  height: 361px;
  border-top: 5px solid white;
}






.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */

.anchor {
  display: block;
  position: relative;
  top: 200px;
}

.clearfix {
  display: block;
  clear: both;
  height: 20px;
  background: transparent;
}

.important {
  font-size: 150%;
}

.copy {
  padding: 10px 0px;
}

.container {
  border-bottom: 5px solid white;
  width: 970px;
}

#wrap > .container {
  padding: 0;
}

.container {
  background: url('./img/watercolor-paper.jpg') repeat;
}

.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}


#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}


.divider {
	height:100px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top: 20px;
}






/* Articles */
article.postpage .teaser {
    display: none;
}

article h2 a {
  color: black;
}

.article h1 {
  color: black;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#critique.article {
  margin: 20px 0 0px 0;
  padding:0;
}

#critique.article .criteria p {
  color: #428bca;
  font-size: 40px;
  line-height: 44px;
}



/* Galleries */
ul.thumbnails {
  list-style: none; 
  margin-top: 30px; 
}

ul.thumbnails li {
  display: block;
  float: left;
}

ul.thumbnails li a {
  display: block;
  float: left;
}




/* scoreboard */
#scoreboard {
  text-align: center;
}


#scoreboard h2 {
  display: block;
  margin-top: 40px;
  color: #428bca;
  font-size: 82px;
  line-height: 84px;
  text-align: center;
}

#scoreboard ol {
  padding: 0;
  margin: 40px 0 40px 0;
  display: block;
  color: #428bca;
  text-align: center;
}

#scoreboard ol li {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 34px;
  list-style-position: inside;
}


/* crtiique/scoring */

#critique {
  z-index:30;
  position:relative;
  float:left;
  width:100%;
  height:240px;
  min-height:240px;
  margin: 20px 0 40px 0;
  padding: 0;
}

#critique .wrp {
  padding:0 0 20px 0;
}

#critique .wrp .copy {
  padding:0 0 0 40px;
  margin:0;
}

.criteria
{
  display: block;
  position: relative;
  float: left;
  width: 160px;
  height: 140px;
  text-align: center;
  padding: 5px;
  margin: 0 5px 0 5px;
  background: transparent
}

.criteria .info {
  display:block;
  clear:both;
  position: absolute;
  top:110px;
  left:0px;
  width:100%;
  height:100px;
  text-align:center;
  color:white;
  font-size:18px;
  font-weight:bold;
  background:transparent;
}

.criteria img {
  display:block;
  position: relative;
  margin:0 auto;
  vertical-align:bottom;
}

.criteria:hover h3, .criteria:hover p{
  color:#000000;
}

/* index cathedral headers */
.postindex article{
  display: block;
  clear: both;
}

.postindex article header {
  margin-bottom: 10px;
}

.postindex article header h2 a {
  display: block;
  color: #fff000;
  font-size: 82px;
  line-height: 84px;
  text-align: left;
}

.postindex article header.lincoln {
  background: url('./img/lincoln-masthead.jpg') no-repeat left top; 
  height: 445px;
}

.postindex article header.rochester {
  background: url('./img/rochester-masthead.jpg') no-repeat left top;
  height: 425px; 
}

.postindex article header.exeter {
  background: url('./img/exeter-masthead.jpg') no-repeat left top; 
  height: 582px;
}

.postindex article header.guildford {
  background: url('./img/guildford-masthead.jpg') no-repeat left top; 
  height: 304px;
}

.postindex article header.southwark {
  background: url('./img/southwark-masthead.jpg') no-repeat left top; 
  height: 442px;
}

.postindex article header.norwich {
  background: url('./img/norwich-masthead.jpg') no-repeat left top; 
  height: 506px;
}

.postindex article header.chichester {
  background: url('./img/chichester-masthead.jpg') no-repeat left top; 
  height: 425px;
}

article header {
  margin: 0px;
}




/* map */



.map-tooltip { 
  width: 80px;
  height:20px;
  min-height: 20px; 
  height:auto;
  color: white;
  *color: black; /* shows in IE7 and below */
  _color: black; /*  shows in IE6 and below */ 
  padding: 10px; 
  margin:0px; 
}

.map-tooltip, .button { -moz-border-radius:5px; -webkit-border-radius:5px; }
.map-tooltip { box-shadow:rgba(0,0,0,0.9) 0 0 10px; -webkit-box-shadow:rgba(0,0,0,0.9) 0 0 10px; -moz-box-shadow:rgba(0,0,0,0.9) 0 0 10px; }
.map-tooltip { background: rgba(10, 10, 10, 0.6); }


.mcontainer {
    height: 710px;
    overflow: hidden;
}

#map {
    z-index: 0;
    display: block;
    position: relative;
    float: left;
    color: white;
    width: 100%;
    margin-top:0px;
    margin-bottom: -20px;
    height: 740px;
    overflow: hidden; 
}


#map_canvas {
    z-index: -10;
    display: block;
    position: absolute;
    width: 770px;
    height: 740px;
    background: transparent !important;
    overflow: hidden; 
}


#key {
    z-index: 20;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 240px;
    height: 740px;
    min-height: 740px;
    background: transparent url('./img/light-blue-transparent.png') 0 0 repeat;
}

#key ul {
    display: block;
    clear: both;
    float: left;
    width: 240px;
    margin-top: 50px;
    padding-left: 10px;
}

#key ul li {
    display: block;
    clear: both;
    float: left;
    width: 240px;
    padding-left: 20px;
}

#key ul li img {
  display: block;
  float: left;
  margin: 5px 5px;
}

#key ul li span {
    display:block;
    float:left;
    margin:7px 0 0 0;
    padding-left: 10px;
}




div.infowindow {
  padding:0;
  margin:0;
  max-width:180px;
}

div.infowindow h3 {
  padding:0;
  margin:0 0 5px 0;
  color:black;
  font-size:14px;
  line-height:14px;
}

div.infowindow p, div.infowindow a {
  padding:0;
  margin:0;
  color:black;
  font-size:12px;
  line-height:14px;
}


#pin {
    z-index:40;
    position:absolute;
    width:79px;
    height:87px;
    left:100px;
    top:40px;
    /*background:transparent url(/static/images/backgrounds/map.jpg) 0 0 repeat-x;*/
}

