{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_site_title() %}
    <h1 id="brand"><a href="{{ abs_link('/') }}" title="{{ blog_title }}" rel="home">
    {% if logo_url %}
        <img src="{{ logo_url }}" alt="{{ blog_title }}" id="logo">
    {% endif %}

    {% if show_blog_title %}
        <span id="blog-title">{{ blog_title }}</span>
    {% endif %}
    </a></h1>
{% endmacro %}

{% macro html_navigation_links() %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="">See some cathedrals ></a></li>
            <li><a href="">See some scores ></a> </li>
            <li><a href="">Eat some cake</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endmacro %}