{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_header() %}

  <div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6 intro">

        <h1><p class="lead">(tea drinkers, cathedral tinkers)</p></h1>
        <p>We are visting every one of our Church Of England cathedral cafes &mdash; how exciting!!</p>
        <p><br /></p>
        <p>This is a <i>very</i> important challenge that will (eventually) unveil England's finest cathedral.</p>

    </div>
  </div>

{% endmacro %}

{% macro html_site_title() %}
    <h1 id="brand"><a href="{{ abs_link('/') }}" title="{{ blog_title }}" rel="home">
    {% if logo_url %}
        <img src="{{ logo_url }}" alt="{{ blog_title }}" id="logo">
    {% endif %}

    {% if show_blog_title %}
        <span id="blog-title">{{ blog_title }}</span>
    {% endif %}
    </a></h1>
{% endmacro %}

{% macro html_navigation_links() %}
<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
        
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->

{% endmacro %}

{% macro html_translation_header() %}
    {% if translations|length > 1 %}
        <div id="toptranslations">
            <h2>{{ messages("Languages:") }}</h2>
            {{ base.html_translations() }}
        </div>
    {% endif %}
{% endmacro %}
