{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_footer() %}

        <footer role="contentinfo">
        	<div class="container">
	            <p><a href="mailto:noisyboiler@googlemail.com">contact us</a></p>
	        </div>
        </footer>

{% endmacro %}
