{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}

{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}


</head>

<script>

    var getMeRandomElements = function(sourceArray, neededElements) {
        var result = [];
        for (var i = 0; i < neededElements; i++) {
            result.push(sourceArray[Math.floor(Math.random()*sourceArray.length)]);
        }
        return result;
    }

    var facts = {
      'Guildford': [],
    }

    var facts = [
      'Southwark cathedral is the oldest Gothic church in London!',
      'Guildford cathedral features features in the 1961 The Omen!',
      'Guildford cathedral is the youngest in England - consecrated May 1961!',
      'Guildford cathedral has the fewest stained glass windows!',
      'Winchester cathedral has the most bells - 16!',
      'Chichester is one of only two cathedrals that can be seen from the sea!',
      'Chichester is the only cathedral with a free-standing bell tower!',
      'Chichester is the only cathedral with "basilica-esk" double-aisles!',
      'Southwark cathedral is home to William Shakespeare\'s brother, Edmund!',
      'Norwich cathedral has the largest collection of Bosses!',
      'Norwich cathedral is one of only three others to have no bells!',
      'Norwich cathedral has more Misericords than any other cathedral!',
      'Norwich cathedral has the 2nd largest spire!',
      'Norwich cathedral has the largest cathedral close!',
      'Norwich cathedral is the only cathedral with a two storey cloister!',
      'Exeter cathedral is the rumoured source of Hickory Dickory Dock!',
      'Exeter cathedral is the only cathedral with two square towers!',
      'Exeter cathedral has the longest vaulted ceiling in the whole world!',
      'Rochester cathedral\'s foundations are the second oldest in the country!',
      'Lincoln cathedral was once the tallest building in the world!',
      'Lincoln cathedral\'s roof is held in place by gravity alone!',
      'The dioceses of Bradford has the least churches - 165!',
      'The dioceses of Oxford has the most churches - 814!',
      'Liverpool cathedral is our longest at 188.7 metres!',
      'Chelmsford is our smallest at 53 metres tall and only 29 metres long!',
      'Salisbury is our tallest, standing at 123.1 metres!',
      'Lincoln cathedral has the most towers - 3!',
    ]
  
    //var fact = facts[Math.floor(Math.random()*facts.length)];
    var facts = getMeRandomElements(facts, 7);

</script>

<body>

    {% block content %}{% endblock %}

</div>

</body>

</html>
