{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}

{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}


</head>

<script>

    var getMeRandomElements = function(sourceArray, neededElements) {
        var result = [];
        for (var i = 0; i < neededElements; i++) {
            result.push(sourceArray[Math.floor(Math.random()*sourceArray.length)]);
        }
        return result;
    }

    var facts = {
        'Guildford': [
            'Guildford cathedral features features in the 1961 The Omen!',
            'Guildford cathedral is the youngest in England - consecrated May 1961!',
            'Guildford cathedral has the fewest stained glass windows!',
        ],
        'Southwark': [
            'Southwark cathedral is the oldest Gothic church in London!',
            'Southwark cathedral is home to William Shakespeare\'s brother, Edmund!',
        ],
        'Chichester': [
            'Chichester is one of only two cathedrals that can be seen from the sea!',
            'Chichester is the only cathedral with a free-standing bell tower!',
            'Chichester is the only cathedral with "basilica-esk" double-aisles!',
        ],
        'Norwich': [
            'Norwich cathedral has the largest collection of Bosses!',
            'Norwich cathedral is one of only three others to have no bells!',
            'Norwich cathedral has more Misericords than any other cathedral!',
            'Norwich cathedral has the 2nd largest spire!',
            'Norwich cathedral has the largest cathedral close!',
            'Norwich cathedral is the only cathedral with a two storey cloister!',
        ],
        'Exeter': [
            'Exeter cathedral is the rumoured source of Hickory Dickory Dock!',
            'Exeter cathedral is the only cathedral with two square towers!',
            'Exeter cathedral has the longest vaulted ceiling in the entire world!',
        ],
        'Lincoln': [
            'Lincoln cathedral was once the tallest building in the world!',
            'Lincoln cathedral\'s roof is held in place by gravity alone!',
            'Lincoln cathedral has the most towers - 3!',
        ],
        'Rochester': [
            'Rochester Cathedral is England\'s second oldest, having been founded in 604AD by Bishop Justus!',
            'Rochester has one of the finest Romanesque facades in England!',
            'Rochester has one of the oldest doors in England!',
            'William of Perth, a Scottish baker, was murdered here!'
        ],
    }

</script>

<body>

    {% block content %}{% endblock %}

</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11486723-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
