{#  -*- coding: utf-8 -*- #}

{% macro html_headstart() %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}

    <title>{{ title|e }} | {{ blog_title|e }}</title>

    {{ html_stylesheets() }}
    {{ html_feedlinks() }}
    {% if permalink %}
        <link rel="canonical" href="{{ abs_link(permalink) }}">
    {% endif %}

    {% if favicons %}
        {% for name, file, size in favicons %}
            <link rel="{{ name }}" href="{{ file }}" sizes="{{ size }}"/>
        {% endfor %}
    {% endif %}

    {{ extra_head_data }}

{% endmacro %}

{% macro late_load_js() %}
{% endmacro %}

{% macro html_stylesheets() %}

    <link href="/assets/css/demo.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    {% if has_custom_css %}
        <!---->
    {% endif %}


    <link href="/assets/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">

{% endmacro %}

{% macro html_feedlinks() %}
{% endmacro %}

{% macro html_translations() %}
{% endmacro %}
