{#  -*- coding: utf-8 -*- #}
{% import 'base_header.tmpl' as header with context %}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}


{% block header_class %} index{% endblock %}

{% block header %}
    <div class="col-sm-6"></div>
    <div class="col-sm-4 intro">
        <h1><p class="lead">(tea drinkers, cathedral tinkers)</p></h1>
        <p>We are visting every one of our Church Of England cathedral cafes &mdash; how exciting!!</p>
        <p>This is a <i>very</i> important challenge that after almost 2000 years will finally unveil England's finest cathedral.</p>
    </div>
{% endblock%}

{% block content %}
<div class="container">

    <div class="postindex copy">
        <p class="copy important">Each church is <i>brutally</i> critiqued on fundamental criteria such as their cakes, the quality of their dead people and on the trivia we learn on the day. The result is a compelling <a href="/#scores">league table</a> that is gripping the nation!</p>
        <p class="copy important">So, which church has the "&dagger;-factor"?</p>
    </div>

</div>

<div class="container">

    <div id="critique">
        <div class="wrp">
        <div class="copy">

            <div class="criteria">
            <img src="./assets/img/icons/cafe.png" alt="cafe tea-cup" />
            <div class="info">
            <h3>CAFE</h3>
            <p>The cornerstone of every cathedral</p>
            </div>
            </div>

            <div class="criteria">
            <img src="./assets/img/icons/dead-people.png" alt="grave stone!" />
            <div class="info">
            <h3>DEAD PEOPLE</h3>
            <p>Famous bodies buried</p>
            </div>
            </div>

            <div class="criteria">
            <img src="./assets/img/icons/treasures.png" alt="treasure chest" />
            <div class="info">
              <h3>TREASURES</h3>
              <p>Valued items</p>
            </div>
            </div>

            <div class="criteria">
            <img src="./assets/img/icons/architectural-features.png" alt="cathedral" />
            <div class="info">
              <h3>ARCHITECTURE</h3>
              <p>Structural wonder</p>
            </div>
            </div>

            <div class="criteria">
            <img src="./assets/img/icons/stories-trivia.png" alt="?" />
            <div class="info">
              <h3>STORIES</h3>
              <p>Myths, stories and anecdotes</p>
            </div>
            </div> 

        </div>
        </div>
    </div>

    <div class="postindex">
    <a name="cathedrals" class="anchor"></a>
    {% for post in posts %}
        <article class="h-entry post-{{ post.meta('type') }} {{ post.meta('class') }}">
        <header class="{{ post.meta('class') }}">
            <h2><a href="{{ post.permalink() }}">{{ post.meta('location') }}</h2></a>
            <div class="metadata">
                <p class="dateline"><a href="{{ post.permalink() }}" rel="bookmark"><time class="published dt-published" datetime="{{ post.date.isoformat() }}" itemprop="datePublished" title="{{ messages("Publication date") }}">{{ post.formatted_date(date_format) }}</time></a></p>
            </div>
        </header>
        {% if index_teasers %}
        <div class="p-summary entry-summary">
        {{ post.text(teaser_only=True) }}
        {% else %}
        <div class="e-content entry-content">
        {{ post.text(teaser_only=False) }}
        {% endif %}
        </div>
        </article>
    {% endfor %}
    </div>

    <div id="scoreboard">
        <a name="scores" class="anchor"></a>
        <h2>The League Table!</h2>
        <ol>
           <li><a href="/posts/norwich/">Norwich</a></li>
           <li><a href="/posts/lincoln/">Lincoln</a></li>
           <li><a href="/posts/exeter/">Exeter</a></li>
           <li><a href="/posts/rochester/">Rochester</a></li>
           <li><a href="/posts/chichester/">Chichester</a></li>
           <li><a href="/posts/southwark/">Southwark</a></li>
           <li><a href="/posts/guildford/">Guildford</a></li>
        </ol>
    </div>

</div>

{{ helper.html_pager() }}
{{ comments.comment_link_script() }}
{{ helper.mathjax_script(posts) }}
{% endblock %}
