{#  -*- coding: utf-8 -*- #}
{% import 'base_header.tmpl' as header with context %}
{% extends 'base.tmpl' %}

{% block content %}

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Start Bootstrap</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Cathedral Cafes</h1>
            <h2>A Quick Trip Around All Of Our Church Of England Cathedral Cafes</h2>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2>Cathedral Cafes puts church against church in an epic battle of cafes!</h2>
                    <p class="lead">Each church is <i>brutally</i> critiqued on fundamental criteria such as their <a href="galleries/cakes/">cakes</a>, the quality of their dead people and on the trivia we learn on the day. The result is a compelling <a href=".#scores">league table</a> that has gripped the nation! So, which church has the "†-factor"?</p>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-15 col-sm-3">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x text-primary">
                            <img src="./assets/img/icons/architectural-features_small.png" alt="cathedral" />
                        </i>
                        </span>
                        <h4>
                            <strong>Architecture</strong>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-15 col-sm-3">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x text-primary">
                            <img src="./assets/img/icons/dead-people_small.png" alt="grave stone!" />
                        </i>
                        </span>
                        <h4>
                            <strong>Dead People</strong>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-15 col-sm-3">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x text-primary">
                            <img src="./assets/img/icons/cafe_small.png" alt="cafe tea-cup" />
                        </i>
                        </span>
                        <h4>
                            <strong>Cafe</strong>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-15 col-sm-3">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x text-primary">
                            <img src="./assets/img/icons/treasures_small.png" alt="treasure chest" />
                        </i>
                        </span>
                        <h4>
                            <strong>Treasures</strong>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-15 col-sm-3">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x text-primary">
                            <img src="./assets/img/icons/stories_small.png" alt="stories, myths and trivia" />
                        </i>
                        </span>
                        <h4>
                            <strong>Stories</strong>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h3>the targets...</h3>
        </div>
    </aside>

    <section id="map" class="bg-primary">

        <iframe width='100%' height='750px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/noisyboiler.no4n9p01/attribution,geocoder,share.html?access_token=pk.eyJ1Ijoibm9pc3lib2lsZXIiLCJhIjoiYjc2MDdlYzY0YWFiYzMxYzljOGYzM2ZlMzcyZmQ2NTUifQ.m20m7hldRUu0kKc1mVCkPw'></iframe>

    </section>

    <aside class="callout">
        <div class="text-vertical-center">
            <h3>now for the churches...</h3>
        </div>
    </aside>

    {% for post in posts %}
    <section class="church-section">

        <article class="h-entry post-{{ post.meta('type') }} {{ post.meta('class') }}">

        <header>

            <div class="city">
               <h2> {{ post.meta('location') }}</h2>
            </div>

            <!--
            <svg width="980" height="220" xmlns="http://www.w3.org/2000/svg">
             <g>
              <line id="svg_12" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="590.209105" y1="137.007628" x2="591.209105" y2="202.002544" transform="rotate(1.6249269247055054 590.7091064453155,169.50509643554759) " stroke="#000000"/>
      <line stroke="#000000" id="svg_13" fill="none" stroke-width="7" x1="1.999979" y1="200" x2="589.999973" y2="200"/>
      <line id="svg_16" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="617.000001" y1="128" x2="589" y2="138" stroke="#000000"/>
      <line id="svg_21" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="615.000006" y1="128" x2="699.000003" y2="127" stroke="#000000"/>
      <line id="svg_22" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="697.354776" y1="129.027739" x2="696.354776" y2="14.988512" transform="rotate(1.3118877410888672 696.8547363281249,72.00812530517624) " stroke="#000000"/>
      <line stroke="#000000" id="svg_24" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="771" y1="120.999995" x2="769" y2="20.000004"/>
      <line stroke="#000000" id="svg_25" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="806" y1="123" x2="769.999998" y2="123"/>
      <line id="svg_26" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="805" y1="122" x2="828.000001" y2="130" stroke="#000000"/>
      <line id="svg_27" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="827.210715" y1="128.992569" x2="827.210715" y2="165.977676" transform="rotate(-4.425518989562988 827.2106933593745,147.48512268066372) " stroke="#000000"/>
      <line id="svg_28" fill="none" stroke="#000000" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="830" y1="163" x2="862" y2="163"/>
      <line id="svg_29" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="860" y1="162" x2="860" y2="187" stroke="#000000"/>
      <line stroke="#000000" id="svg_30" fill="none" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="878.000007" y1="203" x2="979.442629" y2="202"/>
      <line fill="none" stroke="#000000" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="696" y1="17" x2="732" y2="13" id="svg_6"/>
      <line fill="none" stroke="#000000" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="732" y1="13" x2="771" y2="19" id="svg_31"/>
      <line fill="none" stroke="#000000" stroke-width="7" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="861" y1="186" x2="880" y2="202" id="svg_32"/>
             </g>
            </svg>
        -->
            <!-- who cares about the dates?
            <a href="{{ post.permalink() }}" rel="bookmark"><time class="published dt-published" datetime="{{ post.date.isoformat() }}" itemprop="datePublished" title="{{ messages("Publication date") }}">{{ post.formatted_date(date_format) }}</time></a>
            -->

        </header>
    
              <h3>{{ post.meta('church_name') }}</h3>
              
        <!--
        <img src="{{ post.meta('image') }}" alt="{{ post.meta('location') }} church }}" />
        -->

          {{ post.meta('musts') }}

            {{ post.text(teaser_only=False) }}


        </article>

    </section>

    <aside class="callout">
        <div class="text-vertical-center">
            <h3>a fun fact...</h3>
        </div>
    </aside>

    {% endfor %}

{% endblock %}
